#leftTd{
	width:15%;
	font-size:14px;
	border:1px solid #ccc;
	text-align:center;
	height:350spx;
}

#mainReturn{
	margin-left:15%;
	margin-top:3%;
	width:70%;
}

#hr{
	border:1px solid #ccc;
}
	
#returnSpan{
	font-size:16px;
	color:black;
	font-weight:bold;
	margin-left:60px;
}

#tips{
	height:40px;
	margin-left:60px;
	font-size:14px;
	color:gray;
}

#content{
	margin-left:10px;
	margin-top:0px;   
	width:440px;
	border:1px solid #ccc;
	margin-bottom:25px;
}

#mustFill{
	position:relative;
	left:40px;
	top:200px;
	font-size:14px;
}

#connection{
	width:445px;
	height:25px;
	border:1px solid #ccc;
	color:gray;
}

#star2{
	color:red;
	font-weight:bold;
	font-size:14px;
}

#submit{
	cursor:pointer;
	width:60px;
	background-color:#FD8000;
	color:white;
	border-radius:5px;
	height:35px;
	width:90px;
	font-size:14px; 
}

#myhr{
    height:20px;
    margin-left:60px;
}

#returnmessage{
	background-color:#FD8000;
	color:white;
}


	